@font-face {
  font-family: 'Noto_Serif';
  src: url('../src/assets/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf');
  font-weight: 600;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Noto_Serif';
}
